/* General */
*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background: #96befd;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
}
h1{
    text-align: center;
    padding: 25px;
}
h1 a{
    text-align: center;
    padding: 25px;
    color: #9301c0;
    font-family: 'Kanit';
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
/* Navigation Bar */
.navbar ul{
    list-style-type: none;
    background-color: #001e4d;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar a:hover{
    background-color:hsl(0, 0%,10%) ;
}
.navbar li{
    display: inline-block;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    position: absolute;
    z-index: 999;
    display: none;
}
ul li:hover ul.dropdown{
    display: block;
}
.grid-container{
    display: grid;
    grid-template-rows: repeat(4, auto-fit);
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}
/* ENT */
.allEntExams{
    display: grid;
    grid-template-rows: repeat(auto-fit, auto-fit);
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}
/* Quiz */
.quiz{
    background: #fff;
    width: 95%;
    height: 95%;
    margin-inline: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#quizName{
    width: 80%;
    margin-inline: auto;
    font-weight: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 7px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background: #222;
    color: #fff
}
#choices{
    width: 95%;
    margin-inline: auto;
}
#question{
    padding: 25px;
    font-weight: 400;
}
#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 20%;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}