/* General */
*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background: #fff;
}
h1{
    text-align: center;
    padding: 25px;
}
h1 a{
    text-align: center;
    padding: 25px;
    color: #9301c0;
    font-family: 'Kanit';
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

/* Navigation Bar */
#logo{
    display: inline-block;
    background-color: #4099FF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    margin: 5px;
}
.dropbtn{
    font-weight: 700;
    font-size: 18px;
}
.navbar ul{
    list-style-type: none;
    background-color: #67BBFF;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar li a:hover{
    background-color:#A1D5FF ;
    border-radius: 15px;
}
.navbar li{
    display: inline-block;
}
.dropdown .grid-container{
    position: absolute;
    z-index: 1;
    display: none;
    border-radius: 15px;
    background-color: #3f6eb9;
}
.dropdown:hover .dropbtn{
    background-color: #A1D5FF;
    border-radius: 15px;
}
.dropdown:hover .grid-container{
    display: grid;
    grid-template-rows: repeat(4, auto-fit);
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}

/* ENT */
.allEntExams{
    display: grid;
    grid-template-rows: repeat(auto-fit, auto-fit);
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

/* Quiz */
#quizName{
    width: 90%;
    margin-inline: auto;
    font-weight: 25px;
    margin-top: 25px;
}
#question-box{
    padding: 25px;
    margin-inline: auto;
    width: 90%;
    background-color: #D9FDFF;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: 1;
}
#number{
    color: white;
    font-weight: 700;
    font-size: 300%;
    width: 100px;
    height: 100px;
    background-color: #4099FF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 103px;
}
#question{
    display: inline-block;
    width: auto;
}
.btn{
    background: #3C4C85;
    color: #fff;
    font-weight: 500;
    font-size: large;
    /* width: 50%; */
    height: 150px;
    border: 1px solid #222;
    padding: 10px;
    margin: 7px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}
.btn #letter{
    font-weight: 700;
    font-size: 150%;
    position: absolute;
    bottom: 66%;
    left: 3%;
    color: #6173B4;
}
.btn:hover{
    background: #222;
}
#choices{
    margin-top: 25px;
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 150px);
    grid-gap: 10% 2%;
}
#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 20%;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
