/* General */
*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background: #fff;
}
h1{
    text-align: center;
    padding-top:25px;
}
h1 a{
    text-align: center;
    padding: 25px;
    color: #9301c0;
    font-family: 'Kanit';
}
main{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.sectorList{
    --num-cols:3;
    --row-height: 240px;

    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(240px, 0.69fr));
    grid-auto-rows: minmax(240px, 0.75fr);
	grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-gap: 10% 1%;
}   
.sector{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 500ms;
}
.sector:hover{
    filter: brightness(85%);
}

ul h3{
    text-decoration: none;
    list-style: none;
    font-size: 25px;
}

/* Navigation Bar */
#logo{
    display: inline-block;
    background-color: #4099FF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    margin: 5px;
}
.dropbtn{
    font-weight: 700;
    font-size: 18px;
}
.navbar ul{
    list-style-type: none;
    background-color: #67BBFF;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toggle{
    margin-left: auto;
    padding-left: 20px;
}

.navbar .sidebar{
    background-color: #2c9af5;
    position: fixed;
    top: 0;
    right: 0;
    height: 393px;
    width: 200px;
    z-index: 1;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    display: none;
    border-bottom-left-radius: 20px;
}
.sidebarItem{
    width: 250px;
    border-radius: 0% !important;
}
.toggle{
    margin-right: 20px;
    margin-top: 5px;
    display: none !important;
}
@media(max-width: 820px){
    .dropdown{
        display: none;
    }
    .toggle{
        display: block !important;
    }
}
.sidebar .sidebarHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
}
.sidebarHeader h3{
    color: #fff;
    padding-left: 13px;
    padding-top: 9px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar li a:hover:not(.sidebarHeader a){
    background-color:#A1D5FF ;
    border-radius: 15px;
}
.toggle{
    cursor: pointer;
}
.closeSidebar{
    cursor: pointer;
}

.navbar li{
    display: inline-block;
}
.dropdown .grid-container{
    position: absolute;
    z-index: 1;
    display: none;
    border-radius: 15px;
    background-color: #3f6eb9;
}
.dropdown:hover .dropbtn{
    background-color: #A1D5FF;
    border-radius: 15px;
}
.dropdown:hover .grid-container{
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
}
.dropdown-element{
    width: 175px;
}

/* SECTOR SUBPAGES */
.otherExams{
    display: grid;
    font-size: medium;
    grid-template-rows: repeat(auto-fit, auto-fit);
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.coreExams{
    display: grid;
    font-size: medium;
    grid-template-rows: repeat(auto-fit, auto-fit);
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.icdcExams{
    display: grid;
    font-size: medium;
    grid-template-rows: repeat(auto-fit, auto-fit);
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.sampleExams{
    display: grid;
    font-size: medium;
    grid-template-rows: repeat(auto-fit, auto-fit);
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}
.paddedHeading{
    margin-top: 15px;
    display: none;
}
/* Quiz */
#quiz-title{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: end;
    margin-inline: auto;
}
#quiz-name{
    font-weight: 25px;
    margin-top: 25px;
}
#quiz-title ul li{
    list-style: none;
    display: inline-block;
    margin-bottom: 3px;
}
#switch-text{
    font-weight: 500;
    font-size: large;
}
#question-box{
    padding: 25px;
    margin-inline: auto;
    align-items: center;
    width: 90%;
    background-color: #D9FDFF;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: 1;
}
#number{
    color: white;
    font-weight: 700;
    font-size: 300%;
    width: 100px;
    height: 100px;
    background-color: #4099FF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 103px;
}
#question{
    display: inline-block;
    width: auto;
    font-size: 150%;
}
.btn{
    background: #3C4C85;
    color: #fff;
    font-weight: 500;
    font-size: large;
    /* width: 50%; */
    height: 150px   ;
    border: 0px;
    padding: 10px;
    margin: 7px 0;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}
.btn #letter{
    font-weight: 700;
    font-size: 150%;
    position: absolute;
    bottom: 66%;
    left: 3%;
    color: #6173B4;
    pointer-events: none;
}
.btn #btn-text{
    pointer-events: none;
    font-size: 125%;
    padding-right: 2%;
    padding-left: 2%;
}

.btn:disabled{
    cursor: no-drop;
}
#choices{
    margin-top: 25px;
    margin-bottom: 50px;
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 150px);
    grid-gap: 10% 2%;
}
#summaryBtn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 20%;
    border: none;
    padding: 10px;
    margin-left: 5%;
    /* margin-inline: left; */
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Slider */
.switch {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.correct{
    background: #45DFD3;
}
.incorrect{
    background: #FF2F6A;
}
.underline{
    text-decoration: underline;
}
.question-summary{
    margin-top: 10px;
    font-weight: 600;
    font-size: medium;
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* overflow-y: hidden; */
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-content {
    position: relative;
    background-color: #ebebeb;
    /* margin: 35% auto;  */
    margin-top: 25%;
    margin-inline: auto;
    padding: 20px;
    width: 80%; 
    border-radius: 15px;
    color: black;
    height: auto;
    animation-name: animatetop;
    animation-duration: 1s;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
}
#modalHeader{
    text-align: left;
    margin: none;
    padding: 0;
    color: #FF2F6A;
}
#modalText{
    text-align: left;
    word-wrap: break-word;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
}
#hideModalButton{
    margin-top: 10px;
    width: 60px;
    height: 45px;
    border: none;
    background-color: #2196F3;
    border-radius: 15%;
    font-size: 20px;
    font-family: 'Kanit';
    transition: all 0.3s;
}
#hideModalButton:hover{
    filter: brightness(85%);
}
.header-subtext{
    text-align: center; 
}
@media(min-width: 768px){
    .btn:hover:not(:disabled){
        filter: brightness(85%)
    }
}
@media screen and (max-width: 1024px) {
	.sectorList {
		--num-cols: 2;
		--row-height: 200px;
	}
    .otherExams{
        display: grid;
        font-size: medium;
        grid-template-rows: repeat(auto-fit, auto-fit);
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    .coreExams{
        display: grid;
        font-size: medium;
        grid-template-rows: repeat(auto-fit, auto-fit);
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    .icdcExams{
        display: grid;
        font-size: medium;
        grid-template-rows: repeat(auto-fit, auto-fit);
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    .sampleExams{
        display: grid;
        font-size: medium;
        grid-template-rows: repeat(auto-fit, auto-fit);
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}
@media (max-width: 768px){
    #choices{
        margin-top: 25px;
        margin-bottom: 50px;
        width: 90%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-template-rows: repeat(4, 150px);
        grid-gap: 2%;
    }
    #hideModalButton{
        margin-top: 10px;
        width: 75px;
        height: 55px;
        border: none;
        background-color: #2196F3;
        border-radius: 15%;
        font-size: 22px;
        font-family: 'Kanit';
        transition: all 0.3s;
    }
}