/* General */
*{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background: #fff;
}
h1{
    text-align: center;
    padding: 25px;
}
h1 a{
    text-align: center;
    padding: 25px;
    color: #9301c0;
    font-family: 'Kanit';
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

/* Navigation Bar */
#logo{
    display: inline-block;
    background-color: #4099FF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    margin: 5px;
}
.dropbtn{
    font-weight: 700;
    font-size: 18px;
}
.navbar ul{
    list-style-type: none;
    background-color: #67BBFF;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar li a:hover{
    background-color:#A1D5FF ;
    border-radius: 15px;
}
.navbar li{
    display: inline-block;
}
.dropdown .grid-container{
    position: absolute;
    z-index: 1;
    display: none;
    border-radius: 15px;
    background-color: #3f6eb9;
}
.dropdown:hover .dropbtn{
    background-color: #A1D5FF;
    border-radius: 15px;
}
.dropdown:hover .grid-container{
    display: grid;
    grid-template-rows: repeat(4, auto-fit);
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}

/* ENT */
.allEntExams{
    display: grid;
    grid-template-rows: repeat(auto-fit, auto-fit);
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}
/* Quiz */
.quiz{
    width: 95%;
    height: 95%;
    margin-inline: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#quizName{
    width: 80%;
    margin-inline: auto;
    font-weight: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 7px 0;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background: #222;
    color: #fff
}
#choices{
    width: 95%;
    margin-inline: auto;
}
#question{
    padding: 25px;
    font-weight: 400;
}
#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 20%;
    border: none;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}